<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=WAITHURATUN-PC\SQL2019;Database=Bulltetinboard;Integrated Security=False;TrustServerCertificate=True;User ID=sa;Password=root"/>
	</connectionStrings>
</configuration>
